{% extends "base.html" %}
{% block content %}
<div class="login-card">
  <img src="{{ url_for('static', filename='images/google-logo.png') }}" class="google-logo">
  <h2>Sign in</h2>
  <p>to continue to CropAssist</p>
  <form method="POST" action="/login">
    <div class="input-group">
      <input type="text" name="username" required placeholder="Email or username">
    </div>
    <div class="input-group">
      <input type="password" name="password" required placeholder="Enter your password">
    </div>
    <button type="submit" class="btn">Next</button>
    <div class="footer">
      <a href="/register">Create account</a>
    </div>
  </form>
</div>
{% endblock %}
